<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common :: head"/>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-top: -40px;">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
            </div>
        </div>
    </nav>
<div class="container" style="margin-top: -40px;">
    <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" method="post" id="registerForm" th:object="${user}">

                        <!--add 'required' for validation-->
                        <div class="form-label-group">
                            <input type="text" id="inputUsername" class="form-control" th:field="*{username}" placeholder="Username" >
                            <label for="inputUsername">Username</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputFirstName" class="form-control" th:field="*{firstName}" placeholder="First Name">
                            <label for="inputFirstName">First Name</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputLastName" class="form-control" th:field="*{lastName}" placeholder="Last Name">
                            <label for="inputLastName">Last Name</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" th:field="*{email}" placeholder="Email address" >
                            <label for="inputEmail">Email address</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>

                        <div class="form-label-group">
                            <input type="number" id="inputPhone" class="form-control" th:field="*{contactNumber}" placeholder="Phone Number">
                            <label for="inputPhone">Phone Number</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></small>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" th:field="*{password}" class="form-control" placeholder="Password" >
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input th:field="*{confirmPassword}" type="password" class="form-control" id="confirmPassword" placeholder="Re-enter password" />
                            <label for="confirmPassword">Confirm password</label>
                        </div>

                        <div class="form-label-group">
                            <div class="control-label">
                                <label class="radio-inline">
                                    <input type="radio" th:field="*{role}" value="USER" checked="checked"> User
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" th:field="*{role}" value="SUPPLIER"> Supplier
                                </label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" name="_eventId_billing">Next (Billing) &Rang;</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:include="shared/common :: footer"/>
</body>
</html>
