<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common :: head"/>

<body>
<!-- Navigation -->
<div th:replace="shared/common :: navbar"/>

<div class="container">

    <th:block th:if="${message != null}">
        <div class="alert alert-info">
            <h3 class="text-center" th:text="${message}"></h3>
        </div>
    </th:block>

    <th:block th:if="${cartLines != null}">

        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shipping cart
                <a href="" class="btn btn-outline-light btn-sm pull-right">Continue shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">

                <!-- PRODUCT -->
                <th:block th:each="cartLine : ${cartLines}">

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" th:src="@{${'../images/' + cartLine.product.code + '.jpg'}}"
                                 alt="image" width="100" height="100">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong th:text="${cartLine.product.name}"></strong></h4>
                            <h5>
                                <small style="color: black"><strong>Brand: </strong><span
                                        th:text="${cartLine.product.brand}"></span></small>
                            </h5>
                            <h5>
                                <small style="color: black"><strong>Description: </strong><span
                                        th:text="${cartLine.product.description}"></span></small>
                            </h5>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong th:text="${cartLine.buyingPrice}"></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="number" th:id="'count_' + ${cartLine.id}" max="3" min="1"
                                           th:value="${cartLine.productCount}" title="Qty" class="qty"
                                           size="4">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <a th:href="@{'/cart/' + ${cartLine.id} + '/delete'}" type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>

                <!-- END PRODUCT -->

                <div class="pull-right">
                    <button name="refreshCart" th:value="${cartLine.id}" class="btn btn-outline-primary pull-right">
                        Update shopping cart
                    </button>
                </div>
                </th:block>

            </div>
            <div class="card-footer">
                <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="cupone code">
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-default" value="Use cupone">
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin: 10px">
                    <a href="" class="btn btn-success pull-right">Checkout</a>
                    <div class="pull-right" style="margin: 5px">
                        Total price: <b th:text="${userModel.cart.grandTotal}"> €</b>
                    </div>
                </div>
            </div>
        </div>

    </th:block>

<!--    <th:block th:if="${cartLines == null}">-->

<!--        <div class="jumbotron" id="emptyCart">-->
<!--            <div class="text-center">-->
<!--                <h1>Your cart is empty.</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </th:block>-->
</div>

<!-- Bootstrap core JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--Custom JS file-->
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<!-- Bootbox -->
<script src="../static/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>
<!-- DataTables -->
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

</body>
</html>
