
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common :: head"/>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand btn btn-link" th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i>Back</a>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The page is not constructed.</h1>
        <p class="lead">The page you are looking for is not available.</p>
    </div>
</div>

</body>

</html>

