
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:include="shared/common :: head"/>

<body>

<!-- Navigation -->
<div th:replace="shared/common :: navbar"/>

<div class="container" style="padding-top: 10px;">
        <th:block th:if="${message != null}">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            <strong th:text="${message}"></strong>
        </div>
        </th:block>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Product Management</h4>
                </div>
                <div class="card-body">
                    <!-- Form element -->
                    <form method="post" th:object="${product}" th:action="@{/manage/products}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Enter Product Name:</label>
                            <div>
                                <input th:value="*{name}" type="text" name="name" id="name" placeholder="Product Name" class="form-control">
                                <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brand">Enter Brand Name:</label>
                            <div>
                                <input th:value="*{brand}" type="text" name="brand" id="brand" placeholder="Brand Name" class="form-control">
                                <p class="help-block" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Brand Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Product Description:</label>
                            <div>
                                <!-- changed th:value to th:field to fetch data from database for updating-->
                                <textarea th:field="*{description}" rows="4" type="text" name="description" id="description" class="form-control"></textarea>
                                <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unitPrice">Enter Unit Price:</label>
                            <div>
                                <input th:value="*{unitPrice}" type="number" name="unitPrice" id="unitPrice" placeholder="Unit Price in &#8364;" class="form-control">
                                <p class="help-block" th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}">Price Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity Available:</label>
                            <div>
                                <input th:value="*{quantity}" type="number" name="quantity" id="quantity" placeholder="Quantity Available" class="form-control">
<!--                                <em class="help-block">Please enter Quantity</em>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file">Select an Image:</label>
                            <div>
                                <input th:value="*{file}" type="file" name="file" id="file" class="form-control">
                                <p class="help-block" th:if="${#fields.hasErrors('file')}" th:errors="*{file}">Image Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryId">Select Category:</label>
                            <div>
                                <select name="categoryId" id="categoryId" class="form-control" th:field="*{categoryId}">
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                                <th:block th:if="${product.id == 0}">
                                    <div class="text-right">
                                        <br/>
                                        <button type="button" data-toggle="modal" data-target="#myCategoryModal"
                                        class="btn btn-sm btn-link">Add Category</button>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">
                                <!-- Hidden fields for products -->
                                <input type="hidden" th:value="${product.id}"/>
                                <input type="hidden" th:value="${product.code}"/>
                                <input type="hidden" th:value="${product.supplierId}"/>
                                <input type="hidden" th:value="${product.active}"/>
                                <input type="hidden" th:value="${product.purchases}"/>
                                <input type="hidden" th:value="${product.views}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
        <div>
             <h3>Available Products</h3>
        </div>

        <div class="col-xs-12">
            <div style="overflow: auto">
                <!-- Product table for admin -->
                <table id="adminProductsTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>&#160;</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Active</th>
                        <th>Edit</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>&#160;</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Active</th>
                        <th>Edit</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="myCategoryModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${category}" th:action="@{/manage/category}" method="post" class="form">
                        <div class="form-group">
                            <label for="cat_name" class="control-label col-md-4">Category Name</label>
                            <div class="col-md-12">
                                <input type="text" th:value="*{name}" name="cat_name" id="cat_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cat_description" class="control-label col-md-4">Description</label>
                            <div class="col-md-12">
                                <textarea rows="3" th:field="*{description}" name="cat_description" id="cat_description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="Add Category" class="btn btn-primary">
                                <input type="hidden" th:value="${category.id}"/>
                                <input type="hidden" th:value="${category.active}"/>
                                <input type="hidden" th:value="${category.imageURL}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer -->
<div th:include="shared/common :: footer"/>
</body>
</html>
