<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Head-->
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Shop Homepage - Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link href="../static/css/style.css" th:href="@{/css/styles.css}" rel="stylesheet">

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <!--Bootstrap Cerulean theme-->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<!--Navbar -->
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Company Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav m1-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="productList" th:href="@{/show/all/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="manageProducts" th:href="@{/manage/products}">Manage Products</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="home" th:href="@{/}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="about" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact" href="#">Contact</a>
                    </li>

                    <!--To display a block for anonymous users-->
                    <th:block th:if="!${#request.userPrincipal}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/register}">Register</a>
                        </li>
                    </th:block>

                    <th:block th:if="${#request.userPrincipal}">
                        <li class="dropdown">
                            <a class="nav-link btn btn-default dropdown-toggle" href="javascript:void(0)"
                               id="dropdownMenu" data-toggle="dropdown" th:text="${userFullName}">
                                Full Name <span class="caret"></span></a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <th:block sec:authorize="hasAuthority('USER')">
                                    <a th:href="@{/cart}" class="dropdown-item"><i class="fa fa-shopping-cart"></i>
                                        <span class="badge" th:text="${cartLines}"></span> &#8364; <span
                                                th:text="${grandTotal}"></span></a>
                                    <div class="dropdown-divider" role="separator"></div>
                                </th:block>
                                <a th:href="@{/logout}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--Sidebar-->
<div class="col-lg-3" th:fragment="sidebar">

    <h1 class="my-4">Shop Name</h1>
    <div class="list-group">
        <th:block th:each="category : ${categories}">
            <a th:href="@{'/show/category/' + ${category.id} + '/products'}" class="list-group-item"
               th:text="${category.name}"></a>
        </th:block>
    </div>

</div>

<!--Footer-->
<div th:fragment="footer">

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Custom JS file-->
    <script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
    <!-- Bootbox -->
    <script src="../static/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</div>

</html>
